@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-*: initial;
  /* Using astro font system, so specify the font variables using var(--font-geist) etc */
  --font-sans: var(--font-primary), Mona Sans, Figtree, Helvetica, Arial;

  --breakpoint-2xl: 112rem;
  --breakpoint-3xl: 128rem;
  --breakpoint-4xl: 144rem;
  --breakpoint-5xl: 160rem;

  --color-border: var(--edb-border);

  --color-border-dark: var(--edb-border-dark);

  --color-input: var(--edb-input);
  --color-ring: var(--edb-ring);
  --color-body: var(--edb-body);
  --color-background: var(--edb-background);

  --color-foreground: var(--edb-foreground);
  --color-alt-foreground: var(--edb-alt-foreground);

  --color-primary: var(--edb-primary);
  --color-primary-alt: var(--edb-primary-alt);
  --color-primary-foreground: var(--edb-primary-foreground);

  --color-theme: var(--edb-theme);
  --color-theme-muted: var(--edb-theme-muted);
  --color-theme-alt: var(--edb-theme-alt);
  --color-theme-foreground: var(--edb-primary-foreground);

  --color-app-theme: var(--edb-app-theme);

  --color-destructive: var(--edb-destructive);
  --color-warning: var(--edb-warning);
  --color-destructive-alt: var(--edb-destructive-alt);
  --color-destructive-foreground: var(--edb-destructive-foreground);

  --color-shortcuts: var(--edb-shortcuts);

  --color-faint: var(--edb-faint);
  --color-muted: var(--edb-muted);
  --color-accent: var(--edb-app-theme);

  --color-popover: var(--edb-popover);
  --color-popover-foreground: var(--edb-popover-foreground);
  --color-popover-alt: var(--edb-popover-alt);

  --color-card: var(--edb-card);
  --color-card-foreground: var(--edb-card-foreground);

  --color-overlay: var(--edb-overlay);

  --shadow-search: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  --shadow-box: 0 4px 32px rgba(0, 0, 0, 0.1);
  --shadow-box2: 0 0 8px 4px rgba(0, 0, 0, 0.25);
  --shadow-header: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  --shadow-4xl:
    rgba(0, 0, 0, 0.25) 0px 0px 100px -20px,
    rgba(0, 0, 0, 0.25) 0px 30px 60px -30px;
  --shadow-3xl: 0px 0px 32px 8px rgba(0, 0, 0, 0.25);
  /* In order to have a glass effect, which ignores the dimming effect, we create a shadow to fill the screen so that the background appears dimmed, except where the glass div is (sort of like you see in iOS) */
  --shadow-glass:
    0px 0px 32px 8px rgba(0, 0, 0, 0.2), 0 0 0 100vw rgba(0, 0, 0, 0.2);
  --shadow-dark-glass:
    0px 0px 32px 8px rgba(0, 0, 0, 0.2), 0 0 0 100vw rgba(0, 0, 0, 0.5);

  --radius-theme: var(--radius-theme);
  --radius-menu: var(--radius-menu);
  --radius-card: var(--radius-card);

  --z-overlay: 200;
  --z-modal: 300;
  --z-alert: 400;

  --text-xxs: 0.6rem;

  --spacing-button-md: var(--size-button-md);
  --spacing-button-sm: var(--size-button-sm);
  --spacing-button-lg: var(--size-button-lg);

  --spacing-toolbar-button: var(--size-toolbar-button);
  --spacing-large-toolbar-button-width: var(--size-large-toolbar-button-width);
  --spacing-large-toolbar-button-height: var(
    --size-large-toolbar-button-height
  );

  --animate-hover-bounce: hover-bounce 1s ease-in-out infinite;

  @keyframes hover-bounce {
    0%,
    100% {
      transform: translateY(0) scaleY(0.95) rotate(0deg);
    }
    40% {
      transform: translateY(-2rem) scaleY(1);
    }
    50% {
      transform: translateY(-2rem) scaleY(1) rotate(360deg);
    }
    60% {
      transform: translateY(-2rem) scaleY(1);
    }
  }
}

:root {
  --edb-body: oklch(0.985 0.002 247.839);
  --edb-background: white;
  --edb-foreground: oklch(27.8% 0.033 256.848);
  --edb-alt-foreground: oklch(55.1% 0.027 264.364);
  --edb-card: white;
  --edb-card-foreground: rgb(31 41 55);
  --edb-popover: white;
  --edb-popover-foreground: rgb(31 41 55);

  --edb-primary: oklch(0.28 0.03 257);
  --edb-primary-alt: oklch(0.37 0.03 260);
  --edb-primary-foreground: white;

  --edb-theme: oklch(62.3% 0.214 259.815);
  --edb-theme-muted: oklch(74.6% 0.16 232.661);
  --edb-theme-alt: oklch(54.6% 0.245 262.881);

  /* The module color allows for accenting apps, it defaults to the theme color */
  --edb-app-theme: var(--edb-theme);

  --edb-shortcuts: rgb(229 231 235);

  --edb-faint: oklch(0.967 0.003 264.542);
  --edb-muted: oklch(87.2% 0.01 258.338 / 0.7);

  --edb-border: oklch(0.872 0.01 258.338);
  --edb-border-dark: oklch(0.707 0.022 261.325);

  --edb-destructive: oklch(0.704 0.191 22.216);
  --edb-warning: oklch(0.879 0.169 91.605);
  --edb-destructive-alt: rgb(220 38 38);
  --edb-destructive-foreground: white;

  --edb-overlay: rgb(2 6 23);
  --edb-input: rgb(241 245 249);
  --edb-ring: oklch(0.81 0.1 252);

  --radius-theme: 0.375rem;
  --radius-menu: 0.375rem;
  --radius-card: 0.75rem;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --size-button-md: 2rem;
  --size-button-sm: 1.5rem;
  --size-button-lg: 2.5rem;
  --size-toolbar-button: 1.875rem;

  --size-large-toolbar-button-width: 3rem;
  --size-large-toolbar-button-height: 3.75rem;
}

.dark {
  --edb-body: oklch(0.27 0 0);
  --edb-background: oklch(0.37 0 0);
  --edb-alt-background: oklch(20.5% 0 0);
  --edb-foreground: white;
  --edb-card: rgb(38 38 38);
  --edb-card-foreground: rgb(248 250 252);
  --edb-popover: rgb(38 38 38);
  --edb-popover-foreground: white;
  --edb-primary: rgb(37 99 235);
  --edb-primary-foreground: white;

  --edb-theme: oklch(80.9% 0.105 251.813);
  --edb-theme-muted: rgb(96 165 250);
  --edb-faint: oklch(0.44 0 0);
  --edb-muted: oklch(0.44 0 0);

  --edb-destructive: rgb(239 68 68);
  --edb-destructive-foreground: white;
  --edb-overlay: rgb(2 6 23);
  --edb-border: rgb(115 115 115);
  --edb-border-light: rgb(51 65 85);
  --edb-border-dark: rgb(115 115 115);
  --edb-input: rgb(115 115 115);
  --edb-ring: rgb(96 165 250);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--edb-gray-200, currentColor);
  }

  /* Default cursor for buttons, removed in v4 so must be added */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@utility trans-100 {
  @apply duration-100 ease-in-out;
}

@utility trans-200 {
  @apply duration-200 ease-in-out;
}

@utility trans-300 {
  @apply duration-300 ease-in-out;
}

.trans-500 {
  @apply duration-500 ease-out;
}

.trans-color {
  @apply trans-300 transition-colors;
}

.trans-opacity {
  @apply trans-200 transition-opacity;
}

.trans-shadow {
  @apply trans-300 transition-shadow;
}

.trans-transform {
  @apply transition-transform duration-300 ease-in-out;
}

.trans-all {
  @apply transition-all duration-300 ease-in-out;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.boldable-text-tab {
  @apply text-nowrap;
}

/* // we use this on text tabs to keep the width fixed
// when we bold or debold the text by duplicating
// the label as a hidden bolded element to force
// the width of the element. The tab uses a flex col
// layout so the hidden element is rendered under
// the real label, but since it has a height of 0
// and is hidden, it occupies no vertical space
// but keeps its width
// https://css-tricks.com/bold-on-hover-without-the-layout-shift/  */
.boldable-text-tab::after {
  @apply pointer-events-none invisible flex h-0 flex-col overflow-hidden font-bold select-none;
  content: attr(aria-label);
}

ol {
  @apply list-decimal pr-6;
}

.markdown {
  h1 {
    @apply font-semibold;
  }

  h2 {
    @apply mt-8 font-semibold first:mt-0;
  }

  h3 {
    @apply mt-2 font-semibold;
  }

  p {
    @apply mb-1;
  }

  ul {
    @apply list-disc;
  }
}

.changelog {
  @apply text-sm;

  h1 {
    @apply text-xl;
  }

  h2 {
    @apply text-lg;
  }

  h3 {
    @apply text-base;
  }

  ol,
  ul {
    @apply ml-4 flex flex-col gap-y-0.5;
  }
}

.help {
  @apply min-h-screen;

  h1 {
    @apply font-semibold;
  }

  h2 {
    @apply border-border/70 mb-4 border-b text-base font-semibold;
  }

  h3 {
    @apply pb-1;
  }

  ol,
  ul {
    @apply ml-4 flex flex-col gap-y-2;
  }
}

/* scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  @apply h-1.25 w-1.25;
}

.custom-scrollbar::-webkit-scrollbar:disabled {
  @apply hidden;
}

.custom-scrollbar::-webkit-scrollbar-button,
.custom-scrollbar::-webkit-scrollbar-corner {
  @apply hidden cursor-pointer bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-foreground/20 rounded-full transition-colors duration-300 ease-out;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-foreground/30;
}

/* collapse */

.collapsible-content {
  overflow: hidden;
}

.collapsible-content[data-state='open'] {
  animation: slide-down 200ms ease-out;
  animation-fill-mode: forwards;
}

.collapsible-content[data-state='closed'] {
  animation: slide-up 200ms ease-out;
  animation-fill-mode: forwards;
}

/* @keyframes slide-down {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
} */

/* color picker */

.color-picker .react-colorful {
  width: auto;
  height: 10rem;
}

.color-picker .react-colorful__hue,
.react-colorful__alpha {
  height: 0.5rem !important;
  border-radius: 999px !important;
}

.color-picker .react-colorful__hue {
  margin-top: 1rem;
}

.color-picker .react-colorful__alpha {
  margin-top: 1rem;
}

.color-picker .react-colorful__pointer {
  width: 1rem !important;
  height: 1rem !important;
}

.color-picker .react-colorful__saturation {
  border-radius: 0.25rem !important;
  border: none !important;
  box-shadow: none;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.hide-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; /* Hides the scrollbar */
  scrollbar-width: none;
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
